# Mod_Autoindex
<IfModule mod_autoindex.c>
    # Disable Indexes
    Options -Indexes
</IfModule>

# Mod_Rewrite
<IfModule mod_rewrite.c>
    # Enable symlinks
    Options +FollowSymlinks
    # Enable mod_rewrite
    RewriteEngine On
    
    # Api redirect
    RewriteCond %{REQUEST_URI} ^/api(.*)$
    RewriteRule ^api(.*)$ api/web/$1 [L]
    
    # Backend redirect
    RewriteCond %{REQUEST_URI} ^/admin(.*)$
    RewriteRule ^admin(.*)$ backend/web/$1 [L]
    
    # Frontend redirect
    RewriteCond %{REQUEST_URI} ^(.*)$
    RewriteRule ^(.*)$ frontend/web/$1
</IfModule>