@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald/ExtraLight.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald/Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald/Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald/Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald/SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald/Bold.ttf") format("truetype");
    font-weight: 700;
}



::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #067a7d;
}

::-webkit-scrollbar-thumb:hover {
    background: #7fa3a5; 
}

::placeholder {
    color: #7fa3a5 !important;
    opacity: 1;
}



* {
    border-radius: 0 !important;
    letter-spacing: 1.5px;
}

body {
    font-family: "Oswald", sans-serif;
}

.btn:not(.btn-link):hover {
    text-decoration: none;
    filter: saturate(1.5);
}

.btn.focus, .btn:focus {
    box-shadow: none;
}

.btn:not(:disabled):not(.disabled):not(.btn-link).active:focus,
.btn:not(:disabled):not(.disabled):not(.btn-link):active:focus,
.show > .btn.dropdown-toggle:not(.btn-link):focus {
    outline-width: 1px;
    outline-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
}

a {
    color: #067a7d;
}

.help-block {
    color: #7fa3a5;
}

.help-block.help-block-error {
    color: #ea4900;
}

.main-title {
    margin-bottom: 20px;
}

.alert .close {
    color: inherit;
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;
}

label {
    color: #067a7d;
}

.color-square {
    width: 30px;
    height: 30px;
}

input.form-control,
textarea.form-control {
    padding: 6px 32px 6px 12px;
}

input.form-control:focus,
textarea.form-control:focus {
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    outline: 4px #067a7d double;
}

textarea::-webkit-scrollbar {
    width: 3px;
}

textarea::-webkit-scrollbar-thumb {
    background: #067a7d;
}

textarea::-webkit-scrollbar-thumb:hover {
    background: #7fa3a5;
}

input[aria-invalid=false],
textarea[aria-invalid=false] {
    border-color: #009e62;
    background: url(../img/input-success.svg) no-repeat right 7px top 10px / 16px;
}

input[aria-invalid=true],
textarea[aria-invalid=true] {
    border-color: #ea4900;
    background: url(../img/input-error.svg) no-repeat right 7px top 10px / 16px;
}



header {
    display: inline-block;
    width: 100%;
    background: #067a7d;
    color: #eee;
}

header .header-left {
    float: left;
}

header .breadcrumbs {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

header .breadcrumbs li {
    float: left;
    position: relative;
}

header .breadcrumbs li + li {
    margin-left: 15px;
    padding-left: 15px;
}

header .breadcrumbs li + li::before {
    content: '';
    background: url(../img/angle-top.png) no-repeat 0 0 / 100% 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50%;
    transform: translate(-60%, -50%) rotateZ(90deg);
    width: 55px;
    height: 20px;
    filter: invert(1);
}

header .breadcrumbs li a {
    text-decoration: none;
    display: block;
    color: #ACD3D4;
    padding: 13px 0;
    transition: all 0.2s;
}

header .breadcrumbs li a:hover {
    color: #fff;
}

header .breadcrumbs li span {
    display: block;
    padding: 13px 0;
}

header .header-right {
    float: right;
}

header .header-right .item {
    display: inline-block;
    font-size: 20px;
}

header .header-right .item button {
    color: #ACD3D4;
    height: 50px;
    width: 50px;
    padding: 0;
    transition: all 0.2s;
}

header .header-right .item button:hover {
    color: #fff;
}

header .header-right .profile-info {
    padding: 4px 24px;
    white-space: nowrap;
}

header .header-right .profile-info .username {
    font-size: 18px;
    font-weight: 500;
}

header .header-right .profile-info .role {
    font-size: 13px;
}

header .dropdown-toggle::after {
    display: none;
}

header .flag-wrapper {
    font-size: 14px;
    font-weight: 500;
}

header .flag-wrapper img {
    width: 30px;
    vertical-align: middle;
}

header .dropdown-menu .flag-wrapper img {
    margin-right: 5px;
}

.nav-wrapper {
    position: fixed;
    z-index: 1000;
    top: -100%;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: #067a7d;
    transition: all 0.5s ease;
    color: #fff;
}

.nav-wrapper.active {
    top: 0;
}

.nav-wrapper .nav-toggle {
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 20px;
    color: #7fa3a5;
    width: 50px;
    height: 50px;
    padding: 0;
    transition: all 0.2s;
}

.nav-wrapper .nav-toggle:hover {
    color: #fff;
}

.nav-wrapper .site-logo {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.nav-wrapper .site-logo img {
    height: 50px;
}

.nav-wrapper nav {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(calc(50px - 50%));
    width: 100%;
    max-height: calc(100% - 100px);
    overflow-y: auto;
}

.nav-wrapper nav::-webkit-scrollbar {
    width: 5px;
}

.nav-wrapper nav::-webkit-scrollbar-thumb {
    background: #7fa3a5; 
}

.nav-wrapper nav::-webkit-scrollbar-thumb:hover {
    background: #067a7d; 
}

.nav-wrapper nav .parent {
    font-size: 25px;
    margin-bottom: 7px;
}

.nav-wrapper nav ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.nav-wrapper nav ul li a {
    display: block;
    color: #ACD3D4;
    transition: all 0.2s;
    text-decoration: none;
}

.nav-wrapper nav ul li a:hover {
    color: #fff;
}

.nav-wrapper nav ul li a:before {
    content: '-';
    margin-right: 5px;
}

.content {
    padding: 15px 15px 30px;
}
