@keyframes ajaxMaskLine1 {
    0% {width: 100%; height: 10px; top: 0; left: -50%;}
    49.9999% {width: 100%; height: 10px; top: 0; left: 150%;}
    50% {width: 10px; height: 100%; top: 150%; left: 0;}
    99.9999% {width: 10px; height: 100%; top: -50%; left: 0;}
}

@keyframes ajaxMaskLine2 {
    0% {width: 100%; height: 10px; top: 100%; left: 150%;}
    49.9999% {width: 100%; height: 10px; top: 100%; left: -50%;}
    50% {width: 10px; height: 100%; top: -50%; left: 100%;}
    99.9999% {width: 10px; height: 100%; top: 150%; left: 100%;}
}



::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #067a7d;
}

::-webkit-scrollbar-thumb:hover {
    background: #7fa3a5;
}

::placeholder {
    color: #7fa3a5 !important;
    opacity: 1;
}



* {
    border-radius: 0 !important;
}

body {
    font-family: "Main", sans-serif;
    line-height: 24px;
}

.btn:not(.btn-link):hover {
    text-decoration: none;
    filter: saturate(1.5);
}

.btn.focus, .btn:focus {
    box-shadow: none;
}

.btn:not(:disabled):not(.disabled):not(.btn-link).active:focus,
.btn:not(:disabled):not(.disabled):not(.btn-link):active:focus,
.show > .btn.dropdown-toggle:not(.btn-link):focus {
    outline-width: 1px;
    outline-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
}

a {
    color: #067a7d;
}

ul {
    list-style: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    cursor: pointer;
}

.help-block {
    color: #067a7d;
    margin: 0.3rem 0 0;
}

.help-block:empty {
    display: none;
}

.has-success label {
    color: #009e62;
}

.has-success .select2-container .select2-selection {
    border-color: #009e62;
}

.has-error label,
.has-error .help-block {
    color: #ea4900;
}

.main-title {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin-bottom: 1.25rem;
    line-height: 1.2;
}

.alert .close {
    color: inherit;
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;
}

label {
    color: #067a7d;
    font-weight: 500;
}

.color-square {
    width: 30px;
    height: 30px;
}

input.form-control,
textarea.form-control {
    padding: 6px 12px;
}

.has-success input.form-control,
.has-error input.form-control,
.has-success textarea.form-control,
.has-error textarea.form-control {
    padding: 6px 30px 6px 12px;
}

input.form-control:focus,
textarea.form-control:focus {
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    outline: 4px #067a7d double;
}

select.form-control[multiple] {
    overflow: auto;
}

textarea::-webkit-scrollbar {
    width: 3px;
}

textarea::-webkit-scrollbar-thumb {
    background: #067a7d;
}

textarea::-webkit-scrollbar-thumb:hover {
    background: #7fa3a5;
}

input.form-control[aria-invalid=false],
textarea.form-control[aria-invalid=false] {
    border-color: #009e62;
    background: url(../img/input-success.svg) no-repeat right 7px top 10px / 16px;
}

input.form-control[aria-invalid=true],
textarea.form-control[aria-invalid=true] {
    border-color: #ea4900;
    background: url(../img/input-error.svg) no-repeat right 7px top 10px / 16px;
}

input.form-control[aria-invalid=false]:focus,
textarea.form-control[aria-invalid=false]:focus {
    outline-color: #009e62;
}

input.form-control[aria-invalid=true]:focus,
textarea.form-control[aria-invalid=true]:focus {
    outline-color: #ea4900;
}

header {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background: #067a7d;
    color: #eee;
}

header .header-left {
    float: left;
}

header .breadcrumbs {
    padding: 0;
    margin: 0;
    font-weight: 500;
}

header .breadcrumbs li {
    float: left;
    position: relative;
}

header .breadcrumbs li + li {
    margin-left: 15px;
    padding-left: 15px;
}

header .breadcrumbs li + li::before {
    content: "";
    background: url(../img/angle-top.png) no-repeat 0 0 / 100% 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50%;
    transform: translate(-60%, -50%) rotateZ(90deg);
    width: 50px;
    height: 20px;
    filter: invert(1);
}

header .breadcrumbs li a {
    text-decoration: none;
    display: block;
    color: #ACD3D4;
    padding: 13px 0;
    transition: all 0.2s;
}

header .breadcrumbs li a:hover {
    color: #fff;
}

header .breadcrumbs li span {
    display: block;
    padding: 13px 0;
}

header .header-right {
    float: right;
}

header .item {
    display: inline-block;
}

header .item > button,
header .item > a {
    color: #ACD3D4;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0;
    transition: all 0.2s;
}

header .item > button:hover,
header .item > a:hover {
    color: #fff;
}

header .dropdown-toggle::after {
    display: none;
}

.nav-wrapper-full {
    position: fixed;
    z-index: 1000;
    top: -100%;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: #067a7d;
    transition: all 0.5s ease;
    color: #fff;
}

.nav-wrapper-full.opened {
    top: 0;
}

.nav-wrapper-full .nav-full-toggle {
    position: absolute;
    top: 1px;
    right: 20px;
    font-size: 1.2rem;
    color: #7fa3a5;
    width: 50px;
    height: 50px;
    padding: 0;
    transition: all 0.2s;
}

.nav-wrapper-full .nav-full-toggle:hover {
    color: #fff;
}

.nav-wrapper-full .site-logo {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.nav-wrapper-full .site-logo img {
    height: 50px;
}

.nav-wrapper-full nav {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(calc(50px - 50%));
    width: 100%;
    max-height: calc(100% - 100px);
    overflow-y: auto;
}

.nav-wrapper-full nav::-webkit-scrollbar {
    width: 5px;
}

.nav-wrapper-full nav::-webkit-scrollbar-thumb {
    background: #7fa3a5;
}

.nav-wrapper-full nav::-webkit-scrollbar-thumb:hover {
    background: #067a7d;
}

.nav-wrapper-full nav .parent i {
    display: none;
}

.nav-wrapper-full nav ul {
    padding: 0;
    margin: 0;
}

.nav-wrapper-full nav ul li > a {
    display: block;
    color: #ACD3D4;
    transition: all 0.15s;
    text-decoration: none;
}

.nav-wrapper-full nav ul li.active > a,
.nav-wrapper-full nav ul li > a:hover {
    color: #fff;
}

.nav-wrapper-full nav ul li > a:before {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 5px;
}

.nav-wrapper-full nav ul.nav-items {
    display: flex;
    flex-wrap: wrap;
}

.nav-wrapper-full nav ul.nav-items > li {
    width: 16.666667%;
    padding: 15px;
}

.theme-side {
    display: flex;
}

.nav-side-toggle {
    border-right: 1px #fff solid;
}

.nav-wrapper-side {
    background: #067a7d;
    width: 50px;
    min-height: 100vh;
    transition: all .3s;
}

.nav-wrapper-side.opened {
    width: 250px;
    min-width: 250px;
}

.nav-wrapper-side .site-logo {
    display: block;
    width: 100%;
    text-align: center;
}

.nav-wrapper-side .site-logo img {
    width: auto;
    height: 50px;
    padding: 10px 0;
    display: none;
}

.nav-wrapper-side .item button {
    color: #ACD3D4;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0;
    transition: all 0.2s;
}

.nav-wrapper-side.opened .site-logo img {
    display: inline-block;
}

.nav-wrapper-side .nav-items > li + li {
    margin-top: .5rem;
}

.nav-wrapper-side .nav-items a {
    text-decoration: none;
}

.nav-wrapper-side .nav-items .parent {
    position: relative;
    color: transparent;
    background: transparent;
    overflow: hidden;
    width: 34px;
    height: 34px;
    color: #191d1d;
    font-weight: 500;
    cursor: pointer;
}

.nav-wrapper-side.opened .nav-items .parent {
    padding: 9px 30px 9px 51px;
    background: #fff;
    width: auto;
    height: auto;
}

.nav-wrapper-side.opened .nav-items .parent:after {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 10px;
    right: 12px;
    width: 6px;
}

.nav-wrapper-side.opened .nav-items li.active .parent:after {
    transform: rotateZ(90deg);
}

.nav-wrapper-side .nav-items .parent i {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    text-align: center;
    background: #fff;
    color: #191d1d;
    width: 34px;
    height: 34px;
    line-height: 34px;
}

.nav-wrapper-side:not(.opened) .nav-items li.active .parent i {
    background: #80D1D5;
}

.nav-wrapper-side.opened .nav-items .parent i {
    background: #01a3ab;
    color: #fff;
    width: 42px;
    height: 100%;
    line-height: 42px;
}

.nav-wrapper-side .nav-items li.active {
    display: block;
}

.nav-wrapper-side .nav-items .items {
    background: #01a3ab;
    display: none;
}

.nav-wrapper-side:not(.opened) .nav-items .items {
    position: absolute;
    z-index: 10;
    top: -8px;
    left: 34px;
    min-width: 250px;
}

.nav-wrapper-side:not(.opened) .nav-items li:hover .items {
    display: block;
}

.nav-wrapper-side.opened .nav-items li.active .items {
    display: block;
}

.nav-wrapper-side:not(.opened) .nav-items li {
    position: relative;
}

.nav-wrapper-side .nav-items .items li + li {
    border-top: 1px #7fa3a5 solid;
}

.nav-wrapper-side .nav-items .items li a {
    display: block;
    color: #191d1d;
    background: #f8f9fa;
    padding: 6px 12px 6px 32px;
    position: relative;
}

.nav-wrapper-side .nav-items .items li a:before {
    content: "\f0a9";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 0.9rem;
    position: absolute;
    top: 9px;
    left: 9px;
}

.nav-wrapper-side .nav-items .items li.active a {
    background: #80D1D5;
}

.content {
    padding: 30px 15px 30px;
}

.ui-sortable-helper {
    background: #fff;
}

.table-relations tr td {
    position: relative;
}

.table-relations .form-group {
    margin: 0;
}

.sortable-placeholder {
    background-color: #83BDBE;
    min-height: 40px;
}

.ui-dialog.ui-widget {
    z-index: 99999;
}

#ajax-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(6, 122, 125, 0.7);
    z-index: 1111111;
    display: none;
}

.ajax-mask-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4vw;
    height: 4vw;
    position: relative;
    overflow: hidden;
}

.ajax-mask-wrapper .line:first-child {
    position: absolute;
    transform: translate(-50%, -50%);
    background: radial-gradient(#fff, transparent 80%, #fff 100%);
    animation: ajaxMaskLine1 1s ease-in-out 0s infinite;
}

.ajax-mask-wrapper .line:last-child {
    position: absolute;
    transform: translate(-50%, -50%);
    background: radial-gradient(#fff, transparent 80%, #fff 100%);
    animation: ajaxMaskLine2 1s ease-in-out 0s infinite;
}

.grid-view .common-buttons {
    position: fixed;
    bottom: 30px;
    left: 15px;
    background: #fff;
}

.grid-view .action-content {
    position: relative;
    width: 40px;
}

.grid-view .action-toggle {
    width: 40px;
    height: 40px;
}

.grid-view .action-buttons > * {
    text-align: center;
    width: 30px;
    display: block;
}

.grid-view .labels a {
    position: relative;
    display: block;
    padding-right: 17px;
}

.grid-view .labels a::before,
.grid-view .labels a::after {
    content: "\f0dc";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    bottom: 0;
    right: 3px;
    opacity: 0.4;
}

.grid-view .labels a.asc::after {
    content: "\f0d8";
    bottom: 4px;
    opacity: 1;
}

.grid-view .labels a.desc::after {
    content: "\f0d7";
    bottom: -3px;
    opacity: 1;
}

.main-shadow,
.dropdown-menu {
    box-shadow: -1px 1px 5px 0px rgba(6, 122, 125, 0.3);
}

body .redactor-toolbar {
    position: relative !important;
    width: auto !important;
    top: 0px !important;
    left: 0px !important;
    visibility: visible !important;
    box-shadow: none;
    border: 1px solid #067a7d;
    border-bottom: 0;
}

body .redactor-toolbar > li + li {
    border-left: 1px #067a7d solid;
}

body .redactor-dropdown a:hover {
    background: #067a7d;
}

body .redactor-toolbar li a {
    color: #191d1d;
}

body .redactor-toolbar li a.redactor-act,
body .redactor-toolbar li a:active,
body .redactor-toolbar li a:hover {
    background-color: #067a7d;
    color: #fff;
}

body .redactor-toolbar-tooltip {
    background: #067a7d;
}

body .redactor-editor {
    border: 1px solid #067a7d;
}

body .redactor-editor b,
body .redactor-editor strong {
    font-weight: 500;
}

body .redactor-box textarea {
    background: #191d1d;
}

body #redactor-modal header {
    padding: 20px;
}

body #redactor-modal-tabber a.active,
body #redactor-modal-tabber a:hover {
    background-color: #067a7d;
    border-color: #067a7d;
    color: #fff;
}

.btn.btn-icon {
    position: relative;
    padding-left: 48px;
}

.btn.btn-icon i {
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 100%;
    line-height: 36px;
    background: #fff;
}

.btn.btn-primary.btn-icon i {
    color: #067a7d;
}

.btn.btn-secondary.btn-icon i {
    color: #7fa3a5;
}

.btn.btn-success.btn-icon i {
    color: #009e62;
}

.btn.btn-warning.btn-icon i {
    color: #ea8900;
}

.btn.btn-danger.btn-icon i {
    color: #ea4900;
}

.btn.btn-info.btn-icon i {
    color: #01a3ab;
}

.btn.btn-dark.btn-icon i {
    color: #343a40;
}

.btn.btn-light.btn-icon i {
    color: #191d1d;
}

body .select2.select2-container {
    width: 100% !important;
    min-width: 150px;
}

body .select2-container .select2-selection--single,
body .select2-container .select2-search--dropdown .select2-search__field {
    border-color: #067a7d;
    height: 38px;
    outline: none;
}

body .select2.select2-container .select2-selection__arrow {
    display: none;
}

body .select2-container .select2-selection__rendered {
    padding: 4px 12px !important;
    color: #067a7d !important;
    vertical-align: top;
}

body .select2-container.select2-container--disabled .select2-selection__rendered {
    color: #fff !important;
    background: #067a7d;
}

body .select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #01a3ab;
    color: #fff;
}

body .select2-container .select2-results__option--highlighted[aria-selected] {
    background-color: #067a7d;
}

body .select2-container .select2-selection--multiple,
body .select2-container.select2-container--focus .select2-selection--multiple {
    border-color: #067a7d;
}

body .select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: #067a7d;
    border-color: #067a7d;
    color: #fff;
    padding: 4px 8px;
    margin: 4px 8px 4px 0;
}

body .select2-container .select2-selection--multiple .select2-selection__rendered .select2-search--inline {
    margin: 4px 8px 4px 0;
}

body .select2-container .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff !important;
    margin: 0 0 0 10px;
    float: right;
}

body .select2-container .select2-selection--multiple .select2-selection__clear {
    font-size: 1.3rem;
}

body .select2-hidden-accessible {
    display: none;
}

.file-input {
    margin-top: 15px;
}

.file-preview {
    border-color: #7fa3a5;
}

.file-zoom-dialog .btn-navigate {
    color: #067a7d;
    outline: 0 !important;
    border: 0;
}

.krajee-default.file-preview-frame,
.krajee-default.file-preview-frame:not(.file-preview-error):hover {
    border-color: #7fa3a5;
    box-shadow: none;
    padding: 15px;
}

#main-alert {
    display: none;
}

.jq-toast-wrap {
    width: auto;
}

.jq-has-icon {
    padding: 10px 38px 10px 50px;
    background-size: 20px;
}

.jq-toast-single h2 {
    font-family: "Main";
    letter-spacing: 1.5px;
    color: #fff;
    font-size: 1rem;
    margin: 0;
}

.close-jq-toast-single {
    color: #fff;
    font-size: 1.3rem;
}

ul.fancytree-container {
    outline: 0;
}

span.fancytree-selected span.fancytree-title,
span.fancytree-active span.fancytree-title,
.fancytree-treefocus span.fancytree-selected span.fancytree-title,
.fancytree-treefocus span.fancytree-active span.fancytree-title {
    background-color: #067a7d;
    color: #fff;
    outline: 0;
}

.fancytree-ext-filter-hide span.fancytree-active span.fancytree-title,
.fancytree-ext-filter-hide span.fancytree-selected span.fancytree-title {
    color: #fff !important;
}

.login-wrapper {
    position: absolute;
    width: 100%;
    max-width: 400px;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
}

.login-wrapper .logo {
    height: 50px;
}

.login-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-image: url(../img/logo-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.ui-dialog .ui-dialog-titlebar-close::before {
    content: "\f00d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 11px;
}

.disabled-block {
    opacity: 0.7;
    cursor: not-allowed;
}

.disabled-block * {
    pointer-events: none;
}



@media (max-width: 1199px) {
    .nav-wrapper-full nav ul.nav-items > li {
        width: 25%;
    }
}

@media (max-width: 991px) {
    .nav-wrapper-full nav ul.nav-items > li {
        width: 33.333333%;
    }
    
    .theme-side {
        display: block;
    }
    
    .nav-wrapper-side,
    .nav-wrapper-side.opened {
        width: auto;
        min-height: auto;
    }
    
    .nav-wrapper-side .site-logo img {
        display: block;
        margin: auto;
    }
    
    .nav-wrapper-side:not(.opened) .nav-items {
        display: none;
    }
    
    body .select2.select2-container {
        min-width: none;
    }
}

@media (max-width: 767px) {
    .nav-wrapper-full nav ul.nav-items > li {
        width: 50%;
    }
    
    .main-title {
        font-size: 1.3rem;
        line-height: 37px;
    }
    
    .login-wrapper {
        position: static;
        transform: none;
        max-width: none;
    }
}

@media (max-width: 575px) {
    .nav-wrapper-full nav ul.nav-items > li {
        width: 100%;
    }
    
    .main-title > *,
    .main-title a,
    .main-title button {
        float: none;
        width: 100%;
    }
    
    .main-title > *,
    .main-title a + a,
    .main-title button + button {
        margin-top: 10px;
    }
    
    header .header-left,
    header .header-right {
        float: none;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
    
    header .header-right {
        text-align: right;
        border-bottom: 1px #ACD3D4 solid;
    }
    
    header .breadcrumbs li + li::before {
        content: "\f105";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        background: none;
        filter: none;
        color: #acd3d4;
        transform: translateY(-50%);
        left: -5px;
        height: auto;
    }
}

/*--------------------------------------------------------------*/

.table thead tr:first-child > * {
    background: #067a7d;
}

.table thead tr:first-child * {
    color: #fff;
}

.table-sorter {
    text-align: center;
    vertical-align: middle !important;
    cursor: move;
}

.ui-sortable-handle.ui-sortable-helper {
    background: #eee;
}

.yii2-elfinder-input-preview {
    width: 100px;
    margin-bottom: 1rem;
}

.yii2-elfinder-input-preview img {
    width: 100%;
}

.table-new-relation {
    display: none;
}

.datepicker-dropdown {
    z-index: 111;
}
